body{
  background-image: linear-gradient(-225deg, #c9c3ca 0%, #6e5561 52%, #d6ced2 100%);
}
.navbar{
  top:0;
  position:fixed;
  width:100%;
  background: black;
 
}
nav:after{
  content:'';
  clear:both;
  display: table;
}
nav ul{
  float:right;
  list-style:none;
  margin-right: 100px;
  position: relative;
}

nav ul li{
  display: inline-block;
  /*float:left;*/
  background: black;
  margin:o 5px;
}
nav ul li a{
  color:white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color:cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px cyan;
}

nav .logo{
  float:left;
  color:white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
}
.logo{
  margin-left: 30px;
  width:120px;
}
.logouser{
  width:100px;
  float:right
}
nav ul ul {
  position: absolute;
  top:70px;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover >ul{
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin:0px;
  width: 150px;
  float:none;
  display:list-item;
  border-bottom: 1px solid red;
}
nav ul ul ul li{
  position: relative;
  top:-70px;
  left:150px;

}
/*-------------------------------------------*/
#botonreservar{
  width: 200px;
  padding:5px;
}
#fondo{
 
  width:100%;
  height:700px;
  background: url(./components/fondo.jpeg);
}
.boton_reserva_hora{
  width:250px;
  height: 60px;
  font-size: 170%;
  border-radius: 10px;
  margin-top: 400px;
  margin-left: 50px;
}
.pie_boton{
  color:white;
  font-size: 220%;
  margin-left: 50px;
  margin-top: 50px;
}
#separacion{
  margin-top: 90px;
}
#contenedor_contacto{
  overflow: hidden;
}
#imagen_contacto{
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 500px;
  float: left;
}

#card{
  background-color: none;
  float:right;
  margin-right: 200px;
  margin-top: 100px;
  width: 500px;
  height: auto;
  text-align: center;
  border-radius: 30px;

}


.inputs{
  width: 90%;
  height: 35px;
  font-size: 150%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.boton_ingresar_enviar{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 30%;
  height: 50px;
  border-radius: 10px;
  font-size: 150%;
}



#target{
  width:290px;
  height:500px; 
  border: 1px solid;
  text-align: center;
  margin: 50px;
  display:inline-block;
  border-radius: 10px;
  background-color: white;
}

#imagen_card{
  width:290px;
  height:250px; 
  border-radius: 10px;
  
}

#send{
  
  margin-top:50px;
  padding: 5px;
  background-color: rgb(105, 159, 167);
  color: white;
  border-radius: 10px;
}

#text{
  display:list-item
  style type none;
}

#yue{
  
  text-align: center;
}
/*--------------cuerpo acerca de servicios---------------------*/
.Acercade_servicios{
  padding-top: 10px;
  display: inline-block;
}
.Acercade_servicios_interior{
 font-size: 200%;
  
 

  
}
.Acercade_servicios_interiorfoto{
  width:250px;
  margin-left: 100px;
  margin-top: 30px;
  margin-right: 100px;
  float:left;
}

/*-----------------carta ingreso trajaadores-----------*/
.label_tarjeta{
  margin-top: 0px;
  position:relative;
  font-size: 190%;
  float:left;
  margin-left: 25px;
  
}
.color_boton_input{
  background-color: rgb(243, 206, 42);
  color:white;
}
.titulo{
  font-size: 200%;
  margin-bottom: 10px;
}
.textArea{
  width: 90%;
  border-radius: 10px;
}
/*-------------reservar hora y nosotros---------------*/
h3{
  margin: 0;
  opacity: 70%;
}
h2{
    padding-left:15px;
}
h4{
    margin: 0;
    opacity: 70%;
}
h6{
    margin-top: 0px;
    
}
#pasage{
  display:inline-block;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

/*-------------reservar hora y nosotros---------------*/
.navfecha{
  padding: 8px 15px;
  text-align: center;
  background: black;
}
.fecha{
  font-size: 18px;
  color: white;
  line-height: 70px;
  
}
.messi{
  text-align: center;
  width: 75%;
  height: 500px;
  margin: 125px 12% 0px 12%;
  border: solid;
  
}
.column {
  float: left;
  width: 50%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
  
}
.margenes{
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 100px;
  border-radius: 10px;
  font-size: 150%;
  background-color: lawngreen;
  color:white
}

.calendario{
  text-align: center;
  justify-content: center;
  margin:auto;
  margin-top: 150px;
  
  font-size:50px;
}

.react-calendar {
  width: 800px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  border: 0;
  color: black;
  
}
.react-calendar button:enabled:hover {
  cursor: pointer;
  background-color: black;
  color:white;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  height: 100px;
  background-color: black;
  color:white;
  font-size: 20px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 25px;
  
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 1.85em 1em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: black;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.alerta-error {
  margin:0;
  color: red;
} 
/*--------------cuerpo de confirmacion---------------------*/
table{

 margin-top: 200px;
 margin-left: auto;
 margin-right: auto;

}

td{
  background-color: white;

}
th{
  background-color: black;
  color: white;
  width: 100px;
  height: 75px;
}

button#realizado{
  background-color: green;
  color: white;

}
button#realizado:hover{
  background-color: rgb(149, 223, 149);
  color: white;

}
button#norealizado{
  background-color: red;
  color: white;
 
}
button#norealizado:hover{
  background-color: rgb(223, 147, 149);
  color: white;

}

.table-verificacion{
  display: grid;
}
table td:nth-child(1){
  width: 100px;
  text-align: center;

}
table td:nth-child(2){
  width: 100px;
  text-align: center;

}
table td:nth-child(3){
  width: 100px;
  text-align: center;

}
table td:nth-child(4){
  width: 120px;
  text-align: center;

}

table td:nth-child(5){
  width: 250px;
  text-align: center;

}

table th:nth-child(4){
  width: 120px;
}

table th:nth-child(5){
  width: 250px;
}
#fechacss{
  width: 94,33%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
#mensajecss{
  color: white;
  font-size: 20px;
  
}




  



/*--------------cuerpo de InicioBoss---------------------*/

.BotonBoss{
 
  margin-top: 20px;
  width: 180px;
  height: 50px; 
  background-color: black;
  color: white;
  font-size: small;
  border-radius: 10px;
  margin-left: 650px;

  text-align: center; 
  font-family: Arial, Helvetica, sans-serif;
 
}

Div#serviciosdiarios{
  margin-top: 110px;
  margin-left: 100px;
}
.guardar{
  
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
#envio-id-final{
  
  margin-top: 20px;
  font-style:inherit;
}
#division-centrado-boton{
  display: grid;
}